<form class="{{cssClass}} flexrow {{#if editMode}}edit-mode{{else}}play-mode{{/if}}" autocomplete="off">
  <div class="sidebar-left">
    <div class="avatar-container">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <div class="speeds">
        <div class="speed walk" title="{{localize 'empire-long-hu.speeds.walk'}}">
          <i class="fas fa-shoe-prints"></i> {{system.speeds.walk.value}}{{system.speeds.walk.unit}}
        </div>
        <div class="speed swim" title="{{localize 'empire-long-hu.speeds.swim'}}">
          <i class="fas fa-water"></i> {{system.speeds.swim.value}}{{system.speeds.swim.unit}}
        </div>
        <div class="speed climb" title="{{localize 'empire-long-hu.speeds.climb'}}">
          <i class="fas fa-mountain"></i> {{system.speeds.climb.value}}{{system.speeds.climb.unit}}
        </div>
        <div class="speed fly" title="{{localize 'empire-long-hu.speeds.fly'}}">
          <i class="fas fa-feather-alt"></i> {{system.speeds.fly.value}}{{system.speeds.fly.unit}}
        </div>
        <div class="speed burrow" title="{{localize 'empire-long-hu.speeds.burrow'}}">
          <i class="fas fa-dungeon"></i> {{system.speeds.burrow.value}}{{system.speeds.burrow.unit}}
        </div>
      </div>
    </div>
  </div>
  <div class="content-right flexcol">
    <header class="sheet-header">
      <div class="mode-controls">
        <div class="mode-toggle">
          <label class="toggle-switch" title="Mode édition">
            <input type="checkbox" name="flags.empire-long-hu.editMode" data-dtype="Boolean" {{checked editMode}}>
            <span class="toggle-slider"><i class="fas fa-key"></i></span>
          </label>
        </div>
        {{#if editMode}}
        <button type="submit" class="save-button"><i class="fas fa-save"></i> Sauvegarder</button>
        <div class="auto-save-indicator"><i class="fas fa-circle-check"></i> Sauvegarde auto</div>
        {{/if}}
      </div>
      <div class="header-fields">
        <h1 class="charname">
          {{#if editMode}}
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
          {{else}}
          <span class="name-display">{{actor.name}}</span>
          {{/if}}
        </h1>
        <div class="resource-group">
          <div class="resource level flexrow">
            <span class="level-label">Niveau:</span>
            {{#if editMode}}
            <input type="text" name="system.level" value="{{#if system.level}}{{system.level}}{{else}}1{{/if}}" data-dtype="Number" class="level-value" min="1" />
            {{else}}
            <span class="level-value-display">{{#if system.level}}{{system.level}}{{else}}1{{/if}}</span>
            {{/if}}
            <span class="rank-label">Rang:</span>
            <span class="rank-name">{{#if system.rank}}{{system.rank}}{{else}}{{#if system.level}}{{getRankName system.level}}{{else}}Rustique{{/if}}{{/if}}</span>
          </div>
          <div class="resource class">
            <label>{{localize "empire-long-hu.character.class"}}</label>
            {{#if editMode}}
            <input type="text" name="system.class" value="{{system.class}}" />
            {{else}}
            <span class="class-display">{{system.class}}</span>
            {{/if}}
          </div>
        </div>
        <div class="resource-group voix">
          <div class="resource esprit">
            <label>{{localize "empire-long-hu.character.voix.esprit"}}</label>
            {{#if editMode}}
            <select name="system.voix.esprit" class="voix-select">
              <option value="" {{#unless system.voix.esprit}}selected{{/unless}}>-- Sélectionner --</option>
              <option value="Saint-Esprit" {{#if (eq system.voix.esprit "Saint-Esprit")}}selected{{/if}}>Saint-Esprit</option>
              <option value="Esprit Ancestral" {{#if (eq system.voix.esprit "Esprit Ancestral")}}selected{{/if}}>Esprit Ancestral</option>
              <option value="Esprit Élémentaire" {{#if (eq system.voix.esprit "Esprit Élémentaire")}}selected{{/if}}>Esprit Élémentaire</option>
            </select>
            {{else}}
            <span class="voix-display">{{system.voix.esprit}}</span>
            {{/if}}
          </div>
          <div class="resource corps">
            <label>{{localize "empire-long-hu.character.voix.corps"}}</label>
            {{#if editMode}}
            <input type="text" name="system.voix.corps" value="{{system.voix.corps}}" />
            {{else}}
            <span class="voix-display">{{system.voix.corps}}</span>
            {{/if}}
          </div>
        </div>
        <div class="resource-group chi">
          <div class="resource corporel">
            <label>{{localize "empire-long-hu.resources.chi.corporel"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.chi.corporel.value" value="{{system.chi.corporel.value}}" data-dtype="Number" />
              <span class="sep">/</span>
              <input type="text" name="system.chi.corporel.max" value="{{system.chi.corporel.max}}" data-dtype="Number" />
            </div>
          </div>
          <div class="resource souffle">
            <label>{{localize "empire-long-hu.resources.souffle"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.souffle.value" value="{{system.souffle.value}}" data-dtype="Number" />
              <span class="sep">/</span>
              <input type="text" name="system.souffle.max" value="{{system.souffle.max}}" data-dtype="Number" />
            </div>
          </div>
          <div class="resource spirituel">
            <label>{{localize "empire-long-hu.resources.chi.spirituel"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.chi.spirituel.value" value="{{system.chi.spirituel.value}}" data-dtype="Number" />
              <span class="sep">/</span>
              <input type="text" name="system.chi.spirituel.max" value="{{system.chi.spirituel.max}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="elements-group">
          <div class="element metal">
            <label>{{localize "empire-long-hu.elements.metal"}}</label>
            <input type="text" name="system.elements.metal.value" value="{{system.elements.metal.value}}" data-dtype="Number" />
          </div>
          <div class="element eau">
            <label>{{localize "empire-long-hu.elements.eau"}}</label>
            <input type="text" name="system.elements.eau.value" value="{{system.elements.eau.value}}" data-dtype="Number" />
          </div>
          <div class="element terre">
            <label>{{localize "empire-long-hu.elements.terre"}}</label>
            <input type="text" name="system.elements.terre.value" value="{{system.elements.terre.value}}" data-dtype="Number" />
          </div>
          <div class="element bois">
            <label>{{localize "empire-long-hu.elements.bois"}}</label>
            <input type="text" name="system.elements.bois.value" value="{{system.elements.bois.value}}" data-dtype="Number" />
          </div>
          <div class="element feu">
            <label>{{localize "empire-long-hu.elements.feu"}}</label>
            <input type="text" name="system.elements.feu.value" value="{{system.elements.feu.value}}" data-dtype="Number" />
          </div>
        </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="talents">{{localize "empire-long-hu.character.talents"}}</a>
      <a class="item" data-tab="equipment">{{localize "empire-long-hu.tabs.equipment"}}</a>
      <a class="item" data-tab="objects">{{localize "empire-long-hu.tabs.objects"}}</a>
      <a class="item" data-tab="learning">{{localize "empire-long-hu.tabs.learning"}}</a>
      <a class="item" data-tab="biography">{{localize "empire-long-hu.tabs.biography"}}</a>
      <a class="item" data-tab="magic">{{localize "empire-long-hu.tabs.magic"}}</a>
      <a class="item" data-tab="techniques">{{localize "empire-long-hu.tabs.techniques"}}</a>
      <a class="item" data-tab="effects">{{localize "empire-long-hu.tabs.effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Talents Tab --}}
      <div class="tab talents" data-group="primary" data-tab="talents">
        <div class="talents-header flexrow">
          <div class="talent-name">Talent</div>
          <div class="talent-value">Base</div>
          <div class="talent-total">Total</div>
        </div>
        
        <div class="talents-grid">
          {{#each system.talents as |talent key|}}
          <div class="talent-item flexrow" data-talent="{{key}}">
            <div class="talent-name">{{talent.label}}</div>
            <div class="talent-value">
              {{#if ../editMode}}
              <input type="text" name="system.talents.{{key}}.value" value="{{talent.value}}" data-dtype="Number" class="small-input" />
              {{else}}
              <span class="talent-value-display">{{talent.value}}</span>
              {{/if}}
            </div>
            <div class="talent-total">{{talent.total}}</div>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Equipment Tab --}}
      <div class="tab equipment" data-group="primary" data-tab="equipment">
        <div class="items-list">
          {{!-- Equipment will be listed here --}}
        </div>
      </div>

      {{!-- Objects Tab --}}
      <div class="tab objects" data-group="primary" data-tab="objects">
        <div class="items-list">
          {{!-- Objects will be listed here --}}
        </div>
      </div>

      {{!-- Learning Tab --}}
      <div class="tab learning" data-group="primary" data-tab="learning">
        <div class="items-list">
          {{!-- Learning items will be listed here --}}
        </div>
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="biography">
        {{editor biographyHTML target="system.biography.value" button=true editable=editable engine="prosemirror"}}
      </div>

      {{!-- Magic Tab --}}
      <div class="tab magic" data-group="primary" data-tab="magic">
        <div class="items-list">
          {{!-- Magic items will be listed here --}}
        </div>
      </div>

      {{!-- Techniques Tab --}}
      <div class="tab techniques" data-group="primary" data-tab="techniques">
        <div class="items-list">
          {{!-- Techniques will be listed here --}}
        </div>
      </div>

      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        <div class="effects-list">
          {{!-- Effects will be listed here --}}
        </div>
      </div>
    </section>
  </div>
</form>